<%= simple_form_for @job, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
      <div class="field", id="job_title_field">
        <div class="control">
        <%= f.input :title, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, placeholder: "Developer"%>
        </div>
      </div>

      <div class="field", id="job_apply_url_field">
        <div class="control">
          <%= f.input :apply_url, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, placeholder: "http://company.com/apply" %>
        </div>
      </div>

    <div class="columns">
      <div class="field column is-one-quarter", id="job_type_field">
        <div class="control">
          <label class="label">Job Type:</label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :job_type, collection: Job::JOB_TYPES, prompt: "Select a job type" %>
            </span>
            <span class="icon is-small is-left">
              <i class="fa fa-briefcase"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="column is-quarter">
        <div class="field", id="salary_field">
          <div class="control">
            <label class="label">Salary:</label>
             <div class="control has-icons-left">
              <span class="select">
                <%= f.input_field :salary, collection: Job::SALARIES.map{ |s| [t(s, scope: :salary), s] }, prompt: "Select Salary" %>
              </span>
              <span class="icon is-small is-left">
              <i class="fa fa-money"></i>
              </span>
          </div>
        </div>
      </div>
      </div>
      

      <div class="column is-half">
        <div class="field", id="location_field">
           <%= f.label :location, class: "label"  do %> 
           Location: 
           <% end %>
          <div class="control has-icons-left" id='location_div'> 
            <%= f.text_field :location, require: true, class: "input" , placeholder: "London"%>
            <span class="icon is-small is-left">
              <i class="fa fa-location-arrow"></i>
            </span>
          </div>
        </div>

        <div class="field", id="remote_field">
          <div class="control">
            <label for="job[remote_ok]">
              <%= f.input :remote_ok, required: false, input_html: { class: "checkbox"}, wrapper: false, label: false %>
              Work can be done remotely
            </label><i class="fa fa-wifi"></i>
          </div>
        </div>
      </div>
    </div>

      <div class="field", id="description_field">
        <div class="control">
          <%= f.input :description, required: true, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>


    <div class="columns">
      <div class="field column", id="company_name_field">
        <div class="control">
          <%= f.input :job_author, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Company" %>
        </div>
      </div>

      <div class="field column", id="company_websiteurl_field">
        <div class="control">
          <%= f.input :url, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Company Website", placeholder: "http://company.com" %>
        </div>
      </div>

    </div>

    <div class="columns">
      <div class="field column is-4", id="company_logo_imagefile">
        <div class="control">
          <label class="label">Company Logo Image</label>
          <div class="file">
            <label class="file-label">
              <%= f.input :avatar, as: :file, required: false, input_html: { class:"file-input job-avatar" }, label: false, wrapper: false %>
                <span class="file-cta">
                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                  <span class="file-label">Choose a file…</span>
                </span>
            </label>
          </div>
        </div>
      </div>
      <div class="column">
        <output id="list"></output>
      </div>
    </div>

<div class="has-text-centered", id="post_job_button">
      <%= f.button :submit, class: "button is-primary is-medium is-rounded" %>
</div>
<% end %>
